*{
    font-weight: 600;
}
body{
    margin: 0 auto;
    position: relative;
    width: 390px;
}
.goal
{
    text-align: center;
}

.container{
    position: absolute;
    border: 3px solid black;
    padding: 30px;
    width: 390px;
    z-index: 99;
    top: 210px;
    margin: 0 auto;
    min-height: 634px;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
}

/* 제목,내용 */
.form_box1
{   
    margin-top : 20px;
    display : grid;
    grid-template-columns: 1fr 6fr;
    grid-row-gap: 20px;
    align-items: center;
}

.form_box1 input
{
    height : 40px;
    border : 1px solid #000;
    border-radius: 10px;
    outline: none;
    padding :  0 10px;
    
}

/* 회색박스 */






/* button a */
button 
{
    width : 120px;
    height : 50px;
    position : absolute;
    bottom : 40px;
    color : #f8f8f8;
    background: #b10000;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    transition: all 0.2s ;
    cursor: pointer;
    left : 50px;
}
.link_btn
{
    display: inline-block;
    width : 120px;
    height : 50px;
    padding : 15px 0;
    text-align: center;
    position : absolute;
    text-decoration: none;
    color : #f8f8f8;
    background: #b10000;
    bottom : 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    transition: all 0.2s ;
    right : 50px;
}

button:hover, a:hover
{
    margin-top: -2px;
    margin-left: 0px;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

